<!DOCTYPE html>
<html>
  <head>
    <title>Petlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://kit.fontawesome.com/dc394bf18c.js" crossorigin="anonymous"></script>
  </head>

  <body class="<%= controller.controller_name %>" data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>">
    <div id="top_nav">
      <div class="container">
        <%= link_to 'Petlog', root_path, id:'top_logo' %>
        <ul class="nav-bar">
          <li><i class="fas fa-list-alt"></i><%= link_to 'ペット一覧', pets_path, class:'nav_link'%></li>
          <% if current_user %>
          <li><i class="fas fa-paw"></i><%= link_to 'ペット登録', new_pet_path, class:'nav_link'%></li>
          <li><i class="fas fa-user"></i><%= link_to 'プロフィール', user_path(current_user), class:'nav_link'%></li>
          <li><i class="fas fa-sign-out-alt"></i><%= link_to 'ログアウト', logout_path, method: :delete, class:'nav_link'%></li>
          <% else %>
          <li><i class="fas fa-sign-in-alt"></i><%= link_to 'ログイン', login_path, class:'nav_link'%></li>
          <% end %>
        </ul>
      </div>
    </div>
    <main role="main">
      <div class="container" id="contents_container">
        <% if flash.notice.present? %>
        <div class="notice"><%= flash.notice %></div>
        <% elsif flash.alert.present? %>
        <div class="alert"><%= flash.alert %></div>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
