<!DOCTYPE html>
<html>
  <head>
    <title>Petlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://kit.fontawesome.com/dc394bf18c.js" crossorigin="anonymous"></script>
  </head>

  <body class="drawer drawer--right <%= controller.controller_name %>" data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>">
    <header id="top_nav" role="banner">
      <%= link_to 'Petlog', root_path, id:'top_logo_drawer' %>
      <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
      <nav class="container drawer-nav" role="navigation">
        <%= link_to 'Petlog', root_path, id:'top_logo' %>
        <ul class="nav-bar drawer-menu">
          <li><%= link_to pets_path, class:'nav_link' do %><i class="fas fa-list-alt"></i>ペット一覧<% end %></li>
          <% if current_user %>
          <li><%= link_to new_pet_path, class:'nav_link' do %><i class="fas fa-paw"></i>ペット登録<% end %></li>
          <li><%= link_to user_path(current_user), class:'nav_link' do %><i class="fas fa-user"></i>プロフィール<% end %></li>
          <li><%= link_to logout_path, method: :delete, class:'nav_link' do %><i class="fas fa-sign-out-alt"></i>ログアウト<% end %></li>
          <% else %>
          <li><%= link_to login_path, class:'nav_link' do %><i class="fas fa-sign-in-alt"></i>ログイン<% end %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main role="main">
      <div class="container" id="contents_container">
        <% if flash.notice.present? %>
        <div class="notice"><%= flash.notice %></div>
        <% elsif flash.alert.present? %>
        <div class="alert"><%= flash.alert %></div>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
